<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Warehouse Helper</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/constants.js' %}"></script>
    <script src="{% static 'js/drawing.js' %}" type="module"></script>
    <meta name="author" content="Konrad Bryłowski, Aleksander Czerwionka, Michał Krause, Oskar Weber">
</head>
<body>
    <header>

    </header>